{% extends "base.html" %} {% block content %}
<div class="pb-5 pt-2 bg-light">
  <div class="d-flex container-sm justify-content-center mt-5" >
    <div class="card p-4" style="width: 25rem;">
      <h2 class="text-center">Cambiar contraseña</h2>
      <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">&#9702; Su contraseña no puede asemejarse tanto a su otra información personal.</li>
          <li class="list-group-item">&#9702; Su contraseña debe contener al menos 8 caracteres.</li>
          <li class="list-group-item">&#9702; Su contraseña no puede ser una clave utilizada comúnmente.</li>
          <li class="list-group-item">&#9702; Su contraseña no puede ser completamente numérica.</li>
        </ul>
      </form>
    </div>
  </div>
</div>
<!-- toast success -->
<div>
</div>



<!-- toast  errors -->
{% endblock content %}
