{% extends "base.html" %} {% block content %} {% load static %}
<script>
  const areas_subareas = JSON.parse("{{areas_subareas}}".replaceAll("&#x27;", '"'));
  const subarea_init = "{{fs}}";
  const current_section = "{{current_section}}";
</script>
<script src="{% static 'front/buscar.js' %}"></script>
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
<style>
.shield-missing {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border-color: #adb5bd;
  border-width: 1px;
  border-style: solid;
  background-color: #adb5bd;
}
</style>
<div class="pb-5 pt-2 bg-light w-100">
  <div class="container-xxl">
    <div class="container text-center my-5">
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-6">
          <form action="{% url 'front:buscar' %}" method="get">
            <div class="input-group input-group-lg">
              <span class="input-group-text" id="searchtext-addon1" style="border-bottom-left-radius: 0;"
                ><i class="bi bi-search"></i
              ></span>
              <input
                id="searchtextid"
                name="q"
                type="text"
                class="form-control shadow-none"
                placeholder=""
                aria-label="searchtext"
                aria-describedby="searchtext-addon1"
                autocomplete="on"
                value="{{query}}"
              />
              <button
                type="submit"
                style="background-color:  #b5091d; border-color: #b5091d; border-bottom-right-radius: 0"
                class="btn btn-primary"
              >
                Buscar
              </button>
            </div>
            <div class="input-group input-group-sm">
              <!-- common filters -->
              <select class="form-select form-select-sm" aria-label="Select país" name="fp" autocomplete="on" id="filter-pais" style="border-top-left-radius: 0; max-width: 160px;">
                <option value="">País: Todos</option>
                {% for country in countries %}
                <option value="{{country.code}}" {% if country.code == fp %}selected{% endif %}>{{country.name}}</option>
                {% endfor %}
              </select>
              <!-- academicos filters -->
               <div id="academico-filters-container" >
                 <select class="form-select form-select-sm d-none" aria-label="Select país" name="fa" id="fa" onchange="areachange()" autocomplete="on">
                   <option value="0">Área: Todos</option>
                   {% for area in areas_subareas.areas %}
                   <option value="{{area.id}}" {% if area.subareas|length == 0 %}disabled{% endif %}{% if area.id == fa %}selected{% endif %}>{{area.nombre}}</option>
                   {% endfor %}
                 </select>
                 <select class="form-select form-select-sm d-none" aria-label="Select área" name="fs" disabled autocomplete="on" id="fs" autocomplete="on" style="border-top-right-radius: 0;">
                   <option value="0">Subárea: Todos</option>
                 </select>
                 <select class="form-select form-select-sm d-none" aria-label="Select área" name="fk" disabled autocomplete="on" id="fk" autocomplete="on" style="border-top-right-radius: 0;"  multiple>
                   {% for keyword in keywords %}
                   <option value="{{keyword.id}}" {% if keyword.id|stringformat:"s" in fk %} selected {% endif %}>{{keyword.nombre}}</option>
                   {% endfor %}
                 </select>
               </div>
              <!-- programas filters -->
               <select class="form-select form-select-sm d-none" aria-label="Select Grado" name="fg" disabled autocomplete="on" id="filter-grado" autocomplete="on" style="border-top-right-radius: 0; max-width: 160px;">
                <option value="">Grado : Todos</option>
                {% for grado in grados %}
                <option value="{{grado.0}}" {% if grado.0 == fg %} selected {% endif %} >{{grado.1}}</option>
                {% endfor %}
              </select>
            </div>
            <input type="hidden" name="section" id="form-section">
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="m-0" />
    <div class="text-center" style="border-bottom: 1px solid #adb5bd">
      <button
        type="button"
        class="btn btn-light query-type-selector me-1"
        id="academicos_button"
        onclick="toggletab('academicos')"
      >
        Académicos
      </button>
      <button
        type="button"
        class="btn btn-light query-type-selector ms-1"
        id="universidades_button"
        onclick="toggletab('universidades')"
      >
        Instituciones
      </button>
       <button
        type="button"
        class="btn btn-light query-type-selector ms-1"
        id="grados_button"
        onclick="toggletab('grados')"
      >
        Programas
      </button>
    </div>
    <div id="result-box">
      <div id="result-nodata-box" class="d-none">
        <p class="mt-3">
          Lo sentimos, no hemos encontrado coincidencias para su búsqueda.
        </p>
      </div>
      <div class="row justify-content-md-center">
        <div id="result-academicos-box" class="col col-md-9 col-lg-7 d-none">
          {% for academico_group in academicos_group.objects %}
          <div class="card mt-4 p-2 pt-0">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  {% if academico_group.1 %}
                  <div class="mb-1">
                    <strong class="me-1">{{ academico_group.0.get_full_name }}</strong>
                    {% if academico_group.0.nombre != academico_group.1.nombre %}
                    ({{academico_group.1.nombre}}){% endif %}
                  </div>
                  {% else %}
                  <div class="mb-1">
                    <strong class="me-1">{{academico_group.0.get_full_name}}</strong>
                  </div>
                  {% endif %}
                  {% if academico_group.0.grado_maximo %}
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Grado máximo</h6>
                    <p  class="mb-0">{{academico_group.0.get_grado_maximo_display}}</p>
                  </div>
                  {% endif %}
                  {% if academico_group.0.unidad%}
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Universidad</h6>
                    {% if academico_group.0.unidad.universidad.pais and academico_group.0.unidad.universidad.pais != "0" %}
                    <i class="{{ academico_group.0.unidad.universidad.pais.flag_css }} me-1"></i><a href="{% url 'front:institucion' academico_group.0.unidad.universidad.id %}" class="mb-0">{{academico_group.0.unidad.universidad.nombre}}</a>
                    {% else %}
                    <a href="{% url 'front:institucion' academico_group.0.unidad.universidad.id %}" class="mb-0">{{academico_group.0.unidad.universidad.nombre}}</a>
                    {% endif %}
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Unidad</h6>
                    {% if academico_group.0.unidad.nombre and academico_group.0.unidad.nombre != "null" %}
                    <p class="mb-0">{{academico_group.0.unidad.nombre}}</p>
                    {% else %}
                    <p class="mb-0">Computación</p>
                    {% endif %}
                  </div>
                  </div>
                  {% endif %}
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Áreas de investigación</h6>
                    <!--#[Academico, Investigador, [subareas], [keywords], [areas]]-->
                      {% if academico_group.4 %}
                      <div class="d-flex flex-wrap gap-1">
                        {% for area in academico_group.4 %}
                          <span class="badge bg-secondary">{{ area.nombre_es }}</span>
                        {% endfor %}
                      </div>
                      {% else %}
                      No especificado
                      {% endif %}
                  </div>
                  <div class="mb-1">
                    {% if academico_group.3 %}
                      <h6 class="mb-0 text-secondary">Keywords</h6>
                      {% for keyword in academico_group.3 %}
                      <span class="badge bg-secondary">{{ keyword }}</span>
                      {% endfor %}
                    {% else %}
                      <h6 class="mb-0 text-secondary">Keywords</h6>
                      Sin Datos
                    {% endif %}
                  </div>
                </div>
                <div
                  class="col-3 d-flex justify-content-end pe-xs-0 pe-sm-3 pe-md-4 pt-3"
                >
                  <!-- <img
                    src="/static/images/base/avatar.png"
                    alt=""
                    class="rounded-circle"
                    width="64"
                    height="64"
                  />-->
                </div> 
              </div>
              <div class="mt-1 d-flex justify-content-end pe-sm-1 pe-md-2">
                <a class="btn btn-outline-danger btn-sm" href="{% url 'front:academico' academico_group.0.id %}" role="button"
                  >Ver perfil</a
                >
              </div>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-2">
              <li class="page-item {% if academicos.number == 1 %}disabled{% endif %}">
                <!-- <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}{% for keyword in fk %}&fk={{keyword}}{% endfor %}&pa={{academicos_group.paginated.number|add:'1'}}&section=academicos">Siguiente</a> -->
                <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}{% for keyword in fk %}&fk={{keyword}}{% endfor %}&pa={{academicos_group.paginated.number|add:'-1'}}&section=academicos">Anterior</a>
              </li>
              {% with window=5 %}
                  {% for p in academicos_paginator.page_range%}
                  {% if p >= academicos_group.paginated.number|add:'-3' and p <= academicos_group.paginated.number|add:'2' %}
                    <li class="page-item {% if academicos_group.paginated.number == p %}active{% endif %}">
                        <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}{% for keyword in fk %}&fk={{keyword}}{% endfor %}&pa={{p}}&section=academicos">{{p}}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endwith %}
              <li class="page-item {% if not academicos_group.paginated.has_next %}disabled{% endif %}">
                <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}{% for keyword in fk %}&fk={{keyword}}{% endfor %}&pa={{academicos_group.paginated.number|add:'1'}}&section=academicos">Siguiente</a>
              </li>
            </ul>
          </nav>
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div id="result-universidades-box" class="col col-md-9 col-lg-7 d-none">
          {% for universidad in universidades %}
          <div class="card mt-4">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="mb-1">
                    <strong>{{universidad.nombre}}</strong>
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Sigla</h6>
                    <p class="mb-0">{{universidad.sigla}}</p>
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Página</h6>
                    <a
                      href="{{universidad.webpage}}"
                      target="_blank"
                      class="mb-0"
                      >{{universidad.webpage}}</a
                    >
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">País</h6>
                    <p class="mb-0"><i class="{{ universidad.pais.flag_css }} me-1"></i>{{universidad.pais.name}}</p>
                  </div>
                </div>
                <div
                  class="col-3 d-flex justify-content-end pe-xs-0 pe-sm-3 pe-md-4 pt-3"
                >
                  <div class="shield-missing"></div>
                </div>
              </div>
              <div class="mt-1 d-flex justify-content-end pe-sm-1 pe-md-2">
                <a class="btn btn-outline-danger btn-sm" href="{% url 'front:institucion' universidad.id %}" role="button"
                  >Ver perfil
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
          <nav aria-label="Page navigation">
   <ul class="pagination justify-content-center mt-2">
     <li class="page-item {% if universidades.number == 1 %}disabled{% endif %}">
       <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pu={{universidades.number|add:'-1'}}&section=universidades}">Anterior</a>
     </li>
     {% with window=5 %}
         {% for p in universidades_paginator.page_range%}
         {% if p >= universidades.number|add:'-3' and p <= universidades.number|add:'2' %}
           <li class="page-item {% if universidades.number == p %}active{% endif %}">
               <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pu={{p}}&section=universidades">{{p}}</a>
           </li>
         {% endif %}
       {% endfor %}
     {% endwith %}
     <li class="page-item {% if not universidades.has_next %}disabled{% endif %}">
       <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pu={{universidades.number|add:'1'}}&section=universidades">Siguiente</a>
     </li>
   </ul>
 </nav>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div id="result-grados-box" class="col col-md-9 col-lg-7 d-none">
          {% for programa in programas %}
          <div class="card mt-4">
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <div class="mb-1">
                    <strong>{{programa.nombre}}</strong>
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Institución</h6>
                    <p class="mb-0">
                      <a href="{% url 'front:institucion' programa.unidad.universidad.id %}">
                        {{programa.unidad.universidad.nombre}}
                      </a>
                    </p>
                    <div class="mb-1">
                      <h6 class="mb-0 text-secondary">Tipo</h6>
                      <p class="mb-0">{{programa.get_tipo_display}}</p>
                    </div>
                  </div>
                  <div class="mb-1">
                    <h6 class="mb-0 text-secondary">País</h6>
                    {% if programa.unidad.universidad.pais and programa.unidad.universidad.pais != "0" %}
                    <p class="mb-0">
                      <i class="{{ programa.unidad.universidad.pais.flag_css }} me-1"></i>
                      {{ programa.unidad.universidad.pais.name }}
                    </p>
                    {% else %}
                    <p class="mb-0">n/a</p>
                    {% endif %}
                  </div>
                </div>
                <div
                  class="col-3 d-flex justify-content-end pe-xs-0 pe-sm-3 pe-md-4 pt-3"
                >
                </div>
              </div>
              <div class="mt-1 d-flex justify-content-end pe-sm-1 pe-md-2">
                <a class="btn btn-outline-danger btn-sm" href="{% url 'front:grado' programa.id %}" role="button"
                  >Ver perfil
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
                    <nav aria-label="Page navigation">
   <ul class="pagination justify-content-center mt-2">
     <li class="page-item {% if programas.number == 1 %}disabled{% endif %}">
       <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pg={{programas.number|add:'-1'}}&section=grados">Anterior</a>
     </li>
     {% with window=5 %}
         {% for p in grados_paginator.page_range%}
         {% if p >= programas.number|add:'-3' and p <= programas.number|add:'2' %}
           <li class="page-item {% if programas.number == p %}active{% endif %}">
               <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pg={{p}}&section=grados">{{p}}</a>
           </li>
         {% endif %}
       {% endfor %}
     {% endwith %}
     <li class="page-item {% if not programas.has_next %}disabled{% endif %}">
       <a class="page-link" href="?q={{query}}&fp={{fp}}&fa={{fa}}&fs={{fs}}&fg={{fg}}&pg={{programas.number|add:'1'}}&section=grados">Siguiente</a>
     </li>
   </ul>
 </nav>
        </div>
    </div>
  </div>
</div>
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
{% endblock content %}
