{% extends "base.html" %} {% block content %} {% load static %} {% load countries %} {% get_countries as countries_full %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
<script src="{% static 'front/instituciones.js' %}"></script>

{% if user.is_staff and not anonimo %}
<!-- Modal -->
<div>
  <div class="modal" tabindex="-1" id="nueva-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="post" action="{% url 'inst:institucion_new' %}" id="institucion-nueva-form">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Institución nueva</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <label for="inputNombre" class="col-sm-2 col-form-label">Nombre<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputNombre" name="inputNombre" required minlength="5" maxlength="200" onfocus="remove_feedback('inputNombre')">
                <div class="invalid-feedback" id="input-nombre-feedback"></div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputSigla" class="col-sm-2 col-form-label">Sigla<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSigla" name="inputSigla" required minlength="1" maxlength="10" onfocus="remove_feedback('inputSigla')">
                <div class="invalid-feedback" id="input-sigla-feedback"></div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputWebpage" class="col-sm-2 col-form-label">Página Web<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <input type="url" class="form-control" id="inputWebpage" name="inputWebpage" required onfocus="remove_feedback('inputWebpage')">
                <div class="invalid-feedback" id="input-webpage-feedback"></div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPais" class="col-sm-2 col-form-label">País<span class="text-danger">*</span></label>
              <div class="col-sm-10">
                <select class="form-select" aria-label="Select country" name="inputPais" id="inputPais" required onfocus="remove_feedback('inputPais')">
                  <option value="0" selected>Seleccione un país</option>
                  {% for country in countries_full %}
                  <option value="{{ country.code }}">{{ country.name }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback" id="input-pais-feedback"></div>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputFileEscudo" class="col-sm-2 col-form-label">Escudo</label>
              <div class="col-sm-10">
                <input class="form-control" type="file" id="inputFileEscudo" name="inputFileEscudo" onfocus="remove_feedback('inputFileEscudo')">
                <div class="invalid-feedback" id="input-escudo-feedback"></div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row mb-3">
                  <label for="inputIDRinggold" class="col-sm-3 col-form-label">ID Ringgold</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputIDRinggold" name="inputIDRinggold" maxlength="20" onfocus="remove_feedback('inputIDRinggold')">
                    <div class="invalid-feedback" id="input-ringgold-feedback"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputIDROR" class="col-sm-3 col-form-label">ID ROR</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputIDROR" name="inputIDROR" maxlength="20" onfocus="remove_feedback('inputIDROR')">
                    <div class="invalid-feedback" id="input-ror-feedback"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputIDCrossref" class="col-sm-3 col-form-label">ID Crossref</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputIDCrossref" name="inputIDCrossref" maxlength="20" onfocus="remove_feedback('inputIDCrossref')">
                    <div class="invalid-feedback" id="input-crossref-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row mb-3">
                  <label for="inputIDWikidata" class="col-sm-3 col-form-label">ID Wikidata</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputIDWikidata" name="inputIDWikidata" maxlength="20" onfocus="remove_feedback('inputIDWikidata')">
                    <div class="invalid-feedback" id="input-wikidata-feedback"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputIDISNI" class="col-sm-3 col-form-label">ID ISNI</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputIDISNI" name="inputIDISNI" maxlength="20" onfocus="remove_feedback('inputIDISNI')">
                    <div class="invalid-feedback" id="input-isni-feedback"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" onclick="validate_form()" class="btn btn-danger">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="pb-5 pt-3 bg-light w-100">
  <div class="container-xxl">
    <div class="d-flex justify-content-between align-items-end">
      <div class="d-flex align-items-end">
        <h2 class="m-0 me-2">Programas Académicos</h2>
      </div>
      <div class="d-flex align-items-center">
        {% if user.is_staff and not anonimo %}
        <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#nueva-modal">
          Nueva
        </button>
        {% endif %}
      </div>
    </div>
    <hr />
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-3 mb-4">
      {% for grado in grados %}
    <div class="col">
            <div class="card {% if institucion.editable%}border-danger{% endif %} h-100">
            <div class="card-header">
                <div class="pt-2 mb-1 d-flex w-100 justify-content-between">
                <strong class="text-break">{{grado.nombre}}</strong>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-9">
                    <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Institución</h6>
                    {% if grado.universidad %}
                    <p class="mb-0">{{grado.universidad}}</p>
                    {% elif grado.unidad %}
                    <p class="mb-0">{{grado.unidad.universidad}}</p>
                    {% endif %}
                    </div>
                    <div class="mb-1">
                    <h6 class="mb-0 text-secondary">Página</h6>
                    <a
                        href="{{grado.web_site}}"
                        target="_blank"
                        class="mb-0"
                        >Link</a
                    >
                    </div>
                    <div class="mb-0">
                    <h6 class="mb-0 text-secondary">País</h6>
                    {% if grado.unidad %}
                    <p class="mb-0"><i class="{% if grado.unidad.universidad.pais != '0' %}{{ grado.unidad.universidad.pais.flag_css }}{% endif %} me-1"></i>{{institucion.pais.name}}</p>
                    {% elif grado.universidad %}
                    <p class="mb-0"><i class="{% if grado.universidad.pais != '0' %}{{ grado.universidad.pais.flag_css }}{% endif %} me-1"></i>{{grado.universidad.pais.name}}</p>
                    {% endif %}
                    </div>
                </div>
                </div>

            </div>
            </div>
        </div>  
      {% endfor %}
    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mt-2">
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
          <a class="page-link" href="?p={{current_page|add:'-1'}}">Anterior</a>
        </li>
        {% for page in pages %}
        <li class="page-item {% if current_page == page %}active{% endif %}"><a class="page-link" href="?p={{page}}">{{page}}</a></li>
        {% endfor %}
        <li class="page-item {% if current_page == last_page %}disabled{% endif %}">
          <a class="page-link" href="?p={{current_page|add:'1'}}">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}
