{% extends "base.html" %} {% block content %} {% load static %}
<script>
  const areas_subareas = JSON.parse("{{areas_subareas}}".replaceAll("&#x27;", '"'));
</script>
<script src="{% static 'front/index.js' %}"></script>
<!-- BANNER -->
<div class="w-100 bg-secondary position-relative" style="height: 200px">
  <div
    class="position-absolute top-50 start-50 translate-middle text-center text-white"
  >
    <h1 class="logo text-decoration-underline">
      <strong>Repositorio Académicos</strong>
    </h1>
    <h5>
      Contamos con {{count_universidad}} universidades , con {{count_academicos}}
      académicos y {{count_grados}} programas académicos.
    </h5>
  </div>
</div>
<div class="w-100 bg-dark" style="height: 1px"></div>
<div class="bg-light w-100">
  <div class="container-xxl">
    <!-- Buscador -->
    <div class="container text-center my-5">
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-6">
          <form action="{% url 'front:buscar' %}" method="get">
            <div class="input-group input-group-lg">
              <span class="input-group-text" id="searchtext-addon1" style="border-bottom-left-radius: 0;"
                ><i class="bi bi-search"></i
              ></span>
              <input
                id="searchtextid"
                name="q"
                type="text"
                class="form-control shadow-none"
                placeholder=""
                aria-label="searchtext"
                aria-describedby="searchtext-addon1"
                autocomplete="off"
              />
              <button
                type="submit"
                style="background-color: #b5091d; border-color: #b5091d; border-bottom-right-radius: 0"
                class="btn btn-primary">
                Buscar
              </button>
            </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <!-- -->
    <!-- <hr> -->
  </div>
</div>

{% endblock content %}
