{% load static %}

<header class="pt-1 pb-1 bg-dark text-white">
  <div class="container-xxl">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-between"
    >
      <div class="header d-flex flex-column flex-md-row align-items-md-center">
        <div class="logo">
          <a href="{% url 'front:index' %}">Repositorio Académicos</a>
        </div>
        {% if header_text %}
        <div class="modulo ms-md-3">{{header_text}}</div>
        {% endif %}
      </div>

      <nav class="ms-auto navbar navbar-dark bg-dark navbar-expand-md" data-bs-theme="dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'front:index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/buscar' %}active{% endif %}" href="{% url 'front:buscar' %}">Busqueda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/indicadores' %}active{% endif %}" href="{% url 'front:indicadores' %}">Indicadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/institucion' %}active{% endif %}" href="{% url 'front:instituciones' %}">Instituciones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/api' %}active{% endif %}" href="{% url 'front:api' %}">API</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- USER -->
      <div class="dropdown text-end">
        {% if user.is_authenticated %}{% if user.is_academico %}
        <a class="text-light" href="{% url 'front:academico' user.academico_obj.id %}">{{user.academico_obj.nombre}}</a>
        {% endif %}{% endif %}
        <button class="btn btn-link" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img
          src="{% static 'images/base/avatar.png' %}"
          alt=""
          width="32"
          height="32"
          class="rounded-circle"
        />
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end text-small"
          aria-labelledby="dropdownUser1"
        >
          {% if user.is_superuser %}
          <li class="text-center">Administración</li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'front:usuarios' %}"
              ><i class="bi bi-people-fill pe-1"></i>Usuarios</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'front:areas' %}"
              ><i class="bi bi-journal-code pe-1"></i>Áreas/Subáreas</a
            >
          </li>
          
          <li>
            <a
              class="dropdown-item"
              href="{% url 'front:carga_automatica' %}"
              ><i class="bi bi-upload pe-1"></i>Carga por Archivos</a
            >
          </li>
          
          <li>
            <a
              class="dropdown-item"
               href="{% url 'revision:interfaz_revision' %}"
              >
              <i class="bi bi-search pe-1"></i>
              Interfaz de revision</a
            >
          </li>
          {% endif %}
          <!-- Login/Logout -->
          {% if user.is_anonymous %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'login' %}"
              ><i class="bi bi-door-open pe-1"></i>Iniciar Sesión</a
            >
          </li>
          {% else %}
          {% if user.is_staff %}<li><hr class="dropdown-divider" /></li>{% endif %}
          <li>
            <a
              class="dropdown-item"
              href="{% url 'password_change' %}"
              ><i class="bi bi-key pe-1"></i>Cambiar contraseña</a
            >
          </li>
          <li>
            <a
              class="dropdown-item"
              href="{% url 'logout' %}"
              ><i class="bi bi-door-closed pe-1"></i>Salir</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</header>
